*, body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#header {
  width: 100%;
  height: 25%;
  background-color: #c2fb73;
  border-bottom: 5px solid black;
  margin-bottom: 1%;
}

select, button {
  width: 80px;
  height: 25px;
  margin: 0.5%;
  font-size: 12pt;
}

#score {
  display: inline-block;
  margin-left: 47%;
  height: 2%;
  font-size: 20pt;
  font-weight: bold;
}

#letter {
  margin-top: 1%;
  margin-left: 49%;
  font-size: 40pt;
  font-weight: bolder;
  width: 1%;
}

#keyboard {
  width: 100%;
  height: 72%;
  text-align: center;
  touch-action: none;
}

.key {
  display: inline-block;
  margin: 1%;
  width: 43%;
  height: 43%;
}

.key p {
  margin-top: 10%;
  height: 20%;
  font-size: 40pt;
  font-weight: bolder;
}

#blue {
  background-color: #8ccdfc;
}

#darkblue {
  background-color: #1451c4;
}

#pink {
  background-color: #fc73f0;
}

#yellow {
  background-color: #fcf273;
}

#green {
  background-color: #c2fb73;
}

#orange {
  background-color: #fa8f41;
}
